.bg {
    width: 500px;
    height: 500px;
    border: 3px black solid;
    position: relative;
    overflow: hidden;
}

.box {
    width: 30px;
    height: 30px;
    background-color: green;
    position: absolute;
    left : 5px;
    top : 5px;
}

.board {
    width: 500px;
    height: 100px;
}